.job-details{
    display: grid;
    grid-template-columns: 20fr 8fr;
    gap:10px;
}
.job-description p{
    margin: 20px auto;
}
.contact-information p{
    margin: 8px auto;
}

@media only screen and (max-width: 600px) {
    .job-details{
        grid-template-columns: repeat(1, 1fr)
    }
}